@use './partials/variables.scss' as *;

@import 'bootstrap/scss/bootstrap.scss';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

h1{
    color:$font-color;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}